.navbar {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #FB8103;
    width: 100%;
}

.navbar-logo {
    height: 100px;
    width: auto;
}

.navbar-lado-logo {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 2rem;
    height: 100%;
    flex: 1;
}

.navbar-diagonal {
    height: 100%;
    width: 60px;
    flex-shrink: 0;
    margin-right: -60px;
}

.navbar-lado-links {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    justify-content: space-between;
}

.navbar-lado-links a {
    font-family: 'Telka Wide', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-lado-links a:hover {
    color: #262626;
}

/*Para que la primera seccion se alinee con la division*/
.navbar-lado-links a:first-child.active {
    clip-path: polygon(
        0% 0%,     /* Esquina Arriba Izquierda - Pegada al borde */
        90% 0%,    /* Esquina Arriba Derecha*/
        100% 100%, /* Esquina abajo Izquierda*/
        15% 100%   /* Esquina abajo Izquierda -Ajustada para igualar al borde*/
    );
}

/*Para que la ultima seccion se alinee con el borde de la pagina*/
.navbar-lado-links a:last-child.active {
    clip-path: polygon(
        0% 0%,     /* Esquina Arriba Izquierda */
        100% 0%,   /* Esquina Arriba Derecha - Pegada al borde */
        100% 100%, /* Esquina abajo Izquierda  - Pegada al borde*/
        10% 100%   /* Esquina abajo Izquierda  */
    );
}

.navbar-lado-links a.active {
    background-color: #FFFFFF;
    color: #FB8103;
    clip-path: polygon(
        0% 0%,   /* Esquina Arriba Izquierda */
        90% 0%,  /* Esquina Arriba Derecha (movida a la derecha para crear la diagonal) */
        100% 100%, /* Esquina abajo Derecha */
        10% 100%  /* Esquina abajo Izquierda (movida a la derecha para crear la diagonal) */
    );
    transition: clip-path 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

