/* ── Tipografia FUTURA ── */
@font-face {
    font-family: 'Futura';
    src: url('./assets/FUTURA/futur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('./assets/FUTURA/Futura Bold font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* ── Tipografia TELKA ── */
@font-face {
    font-family: 'Telka';
    src: url('./assets/TELKA/TelkaWide-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telka';
    src: url('./assets/TELKA/TelkaExtended-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* ── RESET ── */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    overflow-x: hidden;
}

/* ── FUENTE POR DEFECTO EN TODA LA APP ── */
body {
    font-family: 'Futura', sans-serif;
}